html {
    background-color: lavenderblush;
}

header {
    background-color: pink;
    color:white;
    padding: 20px 0;
}

.pageheader {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    margin: 0;
   
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: underline;
}

.mypic img {
    margin-top: 2%;
    margin-left: 8%;
    align-self: flex-start;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.gallery {
    margin: 0 auto;
    padding: 20px 0;
    overflow-x: hidden;
    alig

}

.gallery-container {
    display: flex;
    overflow-x: scroll;
}

.gallery-item {
    flex: 0 0 auto;
    margin-right: 10px;
}

.gallery-item img {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}